<div class="row">
  <div class="col-md-8">
    <div class="white-form MT-2 MB-2">
      <div class="row">
        <div class="col-md-12">
          <div class="profile-details">
            <div class="profile-details__left">
              <span class="profile-details__left__short-name">{{
                nameInitials
              }}</span>
            </div>
            <div class="profile-details__right">
              <h4>{{ userDetail.fullName }}</h4>
              <span>{{ userDetail.email | checkEmpty }}</span>
            </div>
          </div>
        </div>
      </div>

      <form
        [formGroup]="personalDetailForm"
        (submit)="onPersonalDetailFormSubmit(personalDetailForm)"
      >
        <div class="row">
          <div class="col-md-6">
            <div class="form-control">
              <span class="form-control__title">Full Name</span>
              <mat-form-field appearance="outline" [floatLabel]="'never'">
                <input
                  appAutofocus
                  type="text"
                  autocomplete="off"
                  formControlName="fullName"
                  matInput
                  placeholder="Enter full name"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button
              class="small-btn"
              type="submit"
              mat-flat-button
              color="primary"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
