@import "../../../../../../../assets/scss/abstracts/abstracts";

.header-panel-inner {
  h3 {
    display: inline-block;
    margin-left: 2rem;
  }

  a {
    vertical-align: middle;

    i {
      font-size: 2.6rem;
    }
  }
}

.criteria-details {
  margin-bottom: 2rem;
  min-height: 16rem;
  max-height: 20rem;

  .title-width {
    min-width: 13rem;
  }

  b {
    color: $primary-color;
    font-size: 1.6rem;
    display: inline-flex;
    width: auto;
    vertical-align: top;
  }

  span,
  p {
    color: $primary-color;
    font-size: 1.6rem;
    display: inline-flex;
    width: calc(100% - 15rem);
  }

  p {
    line-height: 2rem;
    width: 55%;
  }
}

.box-attachment {
  li {
    color: $primary-color;
    display: block;
    position: relative;
    word-break: break-all;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.2rem 4rem 1.2rem 2rem;
    font-weight: 600;

    a {
      position: absolute;
      right: 3rem;
      top: 1rem;
      padding: 0;
      border: 0;
      margin-top: 0;

      &:hover {
        background-color: transparent;

        i {
          color: $red-color !important;
        }
      }

      i {
        color: #d2d2d2;
        font-size: 1.4rem;
      }
    }

    &:hover {
      background-color: #f9f9f9;
    }
  }
}

table {
  tr {
    td,
    th {
      font-size: 1.6rem !important;
    }

    td{
      // padding-right: 0 !important;
    }
  }
}

.box {
  position: relative;

  &__body {
    height: auto;
  }
}

.new-data-link {
  position: absolute;
  right: 2rem;
  top: 15px;
}

.loader-box{
  padding-bottom: 4rem;
}


.header-panel-inner{

  h3{
    font-size: 1.8rem;
    margin-left: 0;

    i{
      font-size: 1.8rem;
    }

    span{
      display: inline-block;
      margin-left: 1.5rem;
    }
  }
}