@import "../../../../assets/scss/abstracts/abstracts";

.header {
  background: $header-color;
  height: $header-height;
  padding: 0 $container-space;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  mat-icon[svgIcon="logo2"] {
    height: $header-height;
    width: 10rem;
  }

  img{
    width: 12rem;
    margin-top: 2.1rem;
  }

  &__navigation {
    display: inline-block;

    li {
      line-height: $header-height;
      display: inline-block;
      margin-right: 3rem;

      a {
        color: $white-color;
        position: relative;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.3px;

        &:after{
          background-color: $white-color;
          position: absolute;
          content: '';
          height: 1px;
          width: 3rem;
          bottom: -1rem;
          left: calc(50% - 1.5rem);
          display: none;
        }

        &:hover {
          color: $white-color !important;

          &::after{
            display: block;
          }
        }

        &.active {
          &::after{
            display: block;
            width: 4rem;
            left: calc(50% - 2rem);
          }
        }
      }
    }
  }

  &__profile {
    height: $header-height;
    display: inline-flex;
    vertical-align: top;

    li {
      display: inline-flex;
      align-items: center;
    }

    .dropdown-actions {
      background: $white-color;
      top: calc(#{$header-height - 1rem});
      position: absolute;
      right: 2rem;
      border-radius: 3px;
      width: 26rem;
      z-index: 101;
      border: 1px solid #dddddd;

      ul {
        background-color: transparent !important;

        li {
          border-top: 0 !important;

          a {
            background-color: $white-color;
            padding: 1rem 2rem !important;
            border-bottom: 0 !important;

            &:hover {
              color: $red-color !important;
              background-color: $white-color !important;
            }
          }

          &:first-child {
            background: $grey-color-4;
            border-bottom: 1px solid rgba($black-color, 0.1);
            padding: 2rem;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
          }
        }
      }

      &__row {
        @include clearfix();

        &__img {
          float: left;
          width: 5rem;

          span {
            @include square(4rem);
            border-radius: 50%;
            background: $red-color;
            color: $white-color;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 4rem;
            text-align: center;
            display: inline-block;
          }
        }

        &__details {
          float: left;
          width: calc(100% - 5rem);
          padding-left: 1rem;

          h3 {
            white-space: nowrap;
            overflow: hidden;
            text-transform: capitalize;
            text-overflow: ellipsis;
            font-size: 1.8rem;
            font-weight: 600;
          }

          span {
            color: $primary-color;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            font-weight: 600;
          }

          a {
            color: $primary-color !important;
            font-size: 1.6rem;
            margin-left: 0 !important;
            padding: 0 !important;

            &:hover {
              color: $red-color !important;
            }
          }
        }
      }

      ul {
        li {
          display: block;
          text-align: left;
          margin: 0;

          a {
            color: $primary-color;
            position: relative;
            display: block;
            padding: 2rem;
            margin-left: 0 !important;
            top: 0 !important;
            font-weight: 600;
            font-size: 1.6rem;

            &:hover {
              i {
                color: $red-color;
              }
            }

            i {
              @include square(1.6rem);
              color: $primary-color;
              position: absolute;
              right: 1rem;
              top: 1.2rem;
            }
          }
        }
      }
    }
  }

  &__sub-menu {
    position: absolute;
    right: 1rem;
    top: 1.6rem;

    i{
      color: $white-color;
      font-size: 1.6rem;
    }
  }

  &__short-name {
    @include square(4rem);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $red-color;
    color: $white-color;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__right-nav {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0.5rem 4rem 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  &__name {
    color: $white-color;
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 1rem;
  }

  &__notification{
    position: relative;
    display: inline-flex;
    align-items: center;

    &__box{
      background: $white-color;
      top: calc(#{$header-height - 1rem});
      position: absolute;
      text-align: left;
      box-shadow: 0 -3px 13px 0 rgba(0, 0, 0, 0.15);
      border: solid 1px rgba($black-color, 0.1);
      width: 50rem;
      right: 2rem;
      border-radius: 1rem;
      z-index: 2;
    }

    span{
      @include flexCenter();
      @include square(2rem);
      background: $red-color;
      color: $white-color;
      position: absolute;
      right: .5rem;
      top: .5rem;
      border-radius: 50%;
      font-size: 1.2rem;
    }
    
    a{
      @include flexCenter();
      @include square(5rem);
      cursor: pointer;
      position: relative;
      margin-right: 2rem;
      border-radius: 0.5rem;

      i{
        color: $white-color;
        font-size: 2.4rem;
      }
    }
  }
}

.layer-hide-dropdown {
  @include square(100%);
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 100;
}

.notification-layer-hide{
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.logo-header{
  line-height: 0;
  height: 5rem;
  width: 14rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}