@import "../../../../../../../assets/scss/abstracts/abstracts";

.assessment-survey-container {
  h5 {
    color: $primary-color;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.col-md-3.PR-0.text-right i {
  color: $primary-color;
  font-size: 1.6rem;
}
