.modal {
  &__header {
    h3 {
      margin-bottom: 1rem;
    }

    span.red-color{
        display: block;
        margin-bottom: 2rem;
    }
  }

  &__body{
    max-height: 60rem;
    overflow-y: auto;
    margin-bottom: 1rem;
  }
}
