<div class="row">
  <div class="col-md-12 PR-0">
    <div class="header-panel">
      <button
        (click)="onAddMaturityLevelSchema()"
        type="button"
        mat-flat-button
        color="primary"
        class="small-btn"
      >
        Add Schema
      </button>
    </div>

    <div class="table-box">
      <div class="table MT-2">
        <!-- <div class="table__search MT-2">
          <input
            type="text"
            placeholder="Search Schema..."
            [formControl]="searchFormControl"
          />
        </div> -->
        <table>
          <thead>
            <tr>
              <th width="25%">
                <a
                  [ngClass]="{ active: sortKey === 'schema_name' }"
                  (click)="
                    onClickSort(
                      'schema_name',
                      sortKey === 'schema_name' && sortOrder === '-1'
                        ? '1'
                        : '-1'
                    )
                  "
                >
                  Name
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-long-arrow-alt-up':
                        sortKey === 'schema_name' && sortOrder === '1',
                      'fa-long-arrow-alt-down':
                        sortKey === 'schema_name' && sortOrder === '-1'
                    }"
                  >
                  </i>
                </a>
              </th>
              <th width="20%">
                <a
                  [ngClass]="{ active: sortKey === 'levels' }"
                  (click)="
                    onClickSort(
                      'levels',
                      sortKey === 'levels' && sortOrder === '-1' ? '1' : '-1'
                    )
                  "
                >
                  Number of levels
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-long-arrow-alt-up':
                        sortKey === 'levels' && sortOrder === '1',
                      'fa-long-arrow-alt-down':
                        sortKey === 'levels' && sortOrder === '-1'
                    }"
                  >
                  </i>
                </a>
              </th>
              <th width="40%">Description</th>
              <th width="15%">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="
                let maturityLevelSchema of maturityLevelSchemaList;
                let i = index
              "
            >
              <td>
                <div>{{ maturityLevelSchema.schema_name }}</div>
              </td>
              <td>
                <div>{{ maturityLevelSchema.levels }}</div>
              </td>
              <td>
                <div class="description-table-data">
                  <app-read-more
                    [maxLength]="150"
                    [text]="maturityLevelSchema.description"
                  >
                  </app-read-more>
                </div>
              </td>
              <td>
                <a
                  (click)="onEditMaturityLevelSchema(maturityLevelSchema)"
                  matTooltip="Edit"
                >
                  <i class="fas fa-pen"></i>
                </a>
                <a
                  (click)="onDeleteConfirmation(maturityLevelSchema)"
                  matTooltip="Delete"
                  class="ML-2"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <app-no-data
          *ngIf="maturityLevelSchemaList.length === 0 && !isLoadingResults"
        ></app-no-data>
      </div>

      <div *ngIf="isLoadingResults">
        <app-table-loader></app-table-loader>
      </div>

      <div class="row" *ngIf="pager.totalRecords > 10">
        <div class="col-md-12 MT-2 text-right">
          <mat-paginator
            [length]="pager.totalRecords"
            (page)="pageChange($event)"
            [pageSize]="pager.recordsPerPage"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
