<div class="row">
  <div class="col-md-6">
    <div class="white-form">
      <form
        (submit)="onSubmitChangePasswordForm(changePasswordForm)"
        [formGroup]="changePasswordForm"
      >
        <div class="row">
          <div class="col-md-12 PL-0">
            <div class="form-control">
              <span class="form-control__title">Current Password*</span>
              <mat-form-field appearance="outline" [floatLabel]="'never'">
                <input
                  appAutofocus
                  formControlName="oldPassword"
                  type="password"
                  autocomplete="off"
                  matInput
                  placeholder="Enter current password"
                />
                <mat-error
                  *ngIf="isRequiredField(formControls['oldPassword'])"
                  >{{ validationMsg.OLD_PASSWORD }}</mat-error
                >
                <mat-error *ngIf="isValidLength(formControls['oldPassword'])">{{
                  validationMsg.OLD_PASSWORD_LENGTH
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 PL-0">
            <div class="form-control">
              <span class="form-control__title">New Password*</span>
              <mat-form-field appearance="outline" [floatLabel]="'never'">
                <input
                  formControlName="newPassword"
                  type="password"
                  autocomplete="off"
                  matInput
                  placeholder="Enter new password"
                />
                <mat-error
                  *ngIf="isRequiredField(formControls['newPassword'])"
                  >{{ validationMsg.PASSWORD }}</mat-error
                >
                <mat-error *ngIf="isValidField(formControls['newPassword'])">{{
                  validationMsg.PASSWORD_VALID
                }}</mat-error>
                <mat-error *ngIf="isValidLength(formControls['newPassword'])">{{
                  validationMsg.PASSWORD_LENGTH
                }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 PL-0">
            <div class="form-control">
              <span class="form-control__title">Confirm Password*</span>
              <mat-form-field appearance="outline" [floatLabel]="'never'">
                <input
                  formControlName="confirmPassword"
                  type="password"
                  autocomplete="off"
                  matInput
                  placeholder="Enter confirm password"
                />
                <mat-error
                  *ngIf="isRequiredField(formControls['confirmPassword'])"
                  >{{ validationMsg.CONFIRM_PASSWORD }}</mat-error
                >
                <mat-error *ngIf="changePasswordForm.errors?.doesMatchPassword">
                  {{ validationMsg.PASSWORD_DOESNT_MATCH }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 PL-0">
            <button
              class="small-btn"
              [disabled]="changePasswordForm.invalid"
              type="submit"
              mat-flat-button
              color="primary"
            >
              Save Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
