@import "../../../../../../../assets/scss/abstracts/abstracts";

.fa-paperclip{
    color: #cccccc;
    font-size: 2.2rem;
    vertical-align: super;
}

ul{
    margin-bottom: 2rem;
    
    li{
        list-style: none;
        margin-bottom: 1rem;
    }
}