<div class="modal">
  <div class="modal__header">
    <h3>Add Contact</h3>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm(contactForm)">
    <div class="modal__body">

      <div class="form-control">
        <span class="form-control__title">Full Name</span>
        <mat-form-field appearance="outline" [floatLabel]="'never'">
          <input type="text" formControlName="full_name" appAutofocus autocomplete="off" matInput
            placeholder="Enter full name">
        </mat-form-field>
      </div>

      <div class="form-control">
        <span class="form-control__title">Email</span>
        <mat-form-field appearance="outline" [floatLabel]="'never'">
          <input type="text" formControlName="email" autocomplete="off" matInput placeholder="Enter email">
        </mat-form-field>
      </div>

      <div class="form-control">
        <span class="form-control__title">Telephone No.</span>
        <mat-form-field appearance="outline" [floatLabel]="'never'">
          <input type="text" formControlName="telNo" autocomplete="off" matInput placeholder="Enter telephone No.">
        </mat-form-field>
      </div>

    </div>

    <div class="modal__footer text-right">
      <button type="submit" mat-flat-button color="primary">Save</button>
      <button (click)="onCloseDialog()" type="button" mat-flat-button color="secondary">Cancel</button>
    </div>
  </form>
</div>
