<div class="row">
  <div class="col-md-12 PR-0">
    <div class="header-panel">
      <button
        (click)="onAddPartner()"
        type="button"
        mat-flat-button
        color="primary"
        class="small-btn"
      >
        Add Partner
      </button>
    </div>

    <div class="table-box">
      <div class="table MT-2">
        <!-- <div class="table__search MT-2">
          <input
            type="text"
            placeholder="Search Partner..."
            [formControl]="searchFormControl"
          />
        </div> -->

        <table>
          <thead>
            <tr>
              <th width="30%">
                <a
                  [ngClass]="{ active: sortKey === 'partner_name' }"
                  (click)="
                    onClickSort(
                      'partner_name',
                      sortKey === 'partner_name' && sortOrder === '-1'
                        ? '1'
                        : '-1'
                    )
                  "
                >
                  Name
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-long-arrow-alt-up':
                        sortKey === 'partner_name' && sortOrder === '1',
                      'fa-long-arrow-alt-down':
                        sortKey === 'partner_name' && sortOrder === '-1'
                    }"
                  >
                  </i>
                </a>
              </th>
              <th width="55%">
                <a
                  [ngClass]="{ active: sortKey === 'email' }"
                  (click)="
                    onClickSort(
                      'email',
                      sortKey === 'email' && sortOrder === '-1' ? '1' : '-1'
                    )
                  "
                >
                  Email
                  <i
                    class="fas"
                    [ngClass]="{
                      'fa-long-arrow-alt-up':
                        sortKey === 'email' && sortOrder === '1',
                      'fa-long-arrow-alt-down':
                        sortKey === 'email' && sortOrder === '-1'
                    }"
                  >
                  </i>
                </a>
              </th>

              <th width="15%">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let partner of partnerList; let i = index">
              <td>
                <div>{{ partner.partner_name }}</div>
              </td>
              <td>
                <div>{{ partner.email }}</div>
              </td>
              <td>
                <a (click)="onEditPartner(partner)" matTooltip="Edit">
                  <i class="fas fa-pen"></i>
                </a>
                <a
                  (click)="onDeleteConfirmation(partner)"
                  matTooltip="Delete"
                  class="ML-2"
                >
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <app-no-data
          *ngIf="partnerList.length === 0 && !isLoadingResults"
        ></app-no-data>
      </div>
      <div *ngIf="isLoadingResults">
        <app-table-loader></app-table-loader>
      </div>
      <div class="row" *ngIf="pager.totalRecords > 10">
        <div class="col-md-12 MT-2 text-right">
          <mat-paginator
            [length]="pager.totalRecords"
            (page)="pageChange($event)"
            [pageSize]="pager.recordsPerPage"
            [pageSizeOptions]="pageSizeOptions"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
