@import "../../../../assets/scss/abstracts/abstracts";

.login-container {
  @include authSection;

  p {
    color: $primary-color;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 3rem 0;
  }

  .forgot-password {
    color: $grey-color-3;
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .form-control {
    height: 9rem;
  }

  div.text-center {
    border-top: 1px solid $grey-color;
    padding-top: 3rem;
    font-size: 1.8rem;

    a {
      color: $primary-color;
    }
  }
}
