<div class="header-panel">
  <div class="page-header__action text-right">
    <button *ngIf="isShowView === dashboardComponentViewEnum.LIST"
      (click)="onAddAssessment(dashboardComponentViewEnum.ADD)" type="button" mat-flat-button color="primary"
      class="small-btn">
      Add Assessment
    </button>
  </div>
</div>

<div class="row MT-1">
  <div class="col-md-12 PL-0 PR-0">
    <div class="row">
      <div class="col-md-12 PR-0">
        <div *ngIf="isShowView === dashboardComponentViewEnum.LIST">
          <app-model-assessment-list [assessmentTypes]="assessmentTypes"></app-model-assessment-list>
        </div>

        <div *ngIf="isShowView === dashboardComponentViewEnum.ADD">
          <app-model-assessment-details [assessmentTypes]="assessmentTypes" [modelId]="modelId"
            [modelDetail]="modelDetail" (isShowAssessmentList)="onShowAssessmentList()">
          </app-model-assessment-details>
        </div>
      </div>
    </div>
  </div>
</div>