<div class="loading-data">
    <div class="animated-background">
        <table class="loader-table">
            <thead>
                <tr>
                    <th width="5%"><span></span></th>
                    <th width="15%"><span></span></th>
                    <th width="15%"><span></span></th>
                    <th width="35%"><span></span></th>
                    <th width="22%"><span></span></th>
                    <th width="8%"><span></span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="5%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="35%"><span></span></td>
                    <td width="22%"><span></span></td>
                    <td width="8%"><span></span></td>
                </tr>
                <tr>
                    <td width="5%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="35%"><span></span></td>
                    <td width="22%"><span></span></td>
                    <td width="8%"><span></span></td>
                </tr>
                <tr>
                    <td width="5%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="15%"><span></span></td>
                    <td width="35%"><span></span></td>
                    <td width="22%"><span></span></td>
                    <td width="8%"><span></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>