<div class="modal">
    <div class="modal__header">
        <h3>{{title}}</h3>
    </div>
    <form [formGroup]="questionForm" (ngSubmit)="onSubmitQuestionForm(questionForm)">
        <div class="modal__body">

            <!-- <div class="form-control">
                <span class="form-control__title">ID</span>
                <mat-form-field appearance="outline" [floatLabel]="'never'">
                    <input type="text" formControlName="unique_id" appAutofocus autocomplete="off" matInput
                        placeholder="Enter ID">
                </mat-form-field>
            </div> -->

            <div class="form-control">
                <span class="form-control__title">Question</span>
                <mat-form-field appearance="outline" [floatLabel]="'never'">
                    <input type="text" formControlName="question" appAutofocus autocomplete="off" matInput
                        placeholder="Enter question">
                </mat-form-field>
            </div>

            <div class="form-control">
                <span class="form-control__title">Question type</span>
                <mat-form-field appearance="outline" [floatLabel]="'never'">
                    <mat-select (selectionChange)="onChangeQuestionType($event)" formControlName="type"
                        placeholder="Select Question type">
                        <mat-option *ngFor="let type of questionTypesOptions" [value]="type.value">
                            {{type.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="isShowListOfChoice" class="choice-box">
                <div class="row">
                    <div class="col-md-9 PL-0">
                        <h3>List of choice</h3>
                    </div>
                    <div class="col-md-3 PR-0 text-right">
                        <a (click)="onAddChoice()" matTooltip="Add choice">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 PL-0 PR-0">
                        <ul>
                            <li formArrayName="question_choices"
                                *ngFor="let item of questionChoices.controls; let i = index;">
                                <div [formGroupName]="i">
                                    <span class="number-of-row">{{i + 1}}. </span>
                                    <input type="text" placeholder="Enter choice" formControlName="questionChoice"
                                        value="All internal and external can access" />

                                    <a class="MT-1 ML-1" matTooltip="Delete" (click)="deleteChoiceItem(i)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal__footer text-right">
            <button type="submit" mat-flat-button color="primary">Save</button>
            <button (click)="onCloseDialog()" type="button" mat-flat-button color="secondary">Cancel</button>
        </div>
    </form>
</div>