<div class="reset-password-container">

  <div class="app-section">

    <div class="app-section__box">
      <div class="app-section__box__logo">
        <mat-icon svgIcon="logo"></mat-icon>
      </div>

      <p class="text-center">Reset your password</p>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordFormSubmit(resetPasswordForm)">

        <div class="form-control">
          <span class="form-control__title">New password*</span>
          <mat-form-field appearance="outline" [floatLabel]="'never'">
            <input [type]="hide ? 'password' : 'text'" (keydown.enter)="onHidePassword()" #initialFormField required
              formControlName="password" autocomplete="off" matInput placeholder="Enter new password*">
            <button tabindex="-5" type="button" class="password-show-hide-icon" mat-icon-button matSuffix
              (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon svgIcon="{{hide ? 'visibilityOff' : 'visibilityOn'}}"></mat-icon>
            </button>

            <mat-error *ngIf="isRequiredField(formControls['password'])">{{validationMsg.PASSWORD}}</mat-error>
            <mat-error *ngIf="isValidField(formControls['password'])">{{validationMsg.PASSWORD_VALID}}</mat-error>
            <mat-error *ngIf="isValidLength(formControls['password'])">{{validationMsg.PASSWORD_LENGTH}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-control">
          <span class="form-control__title">Confirm password*</span>
          <mat-form-field appearance="outline" [floatLabel]="'never'">
            <input [type]="hideResetPassword ? 'password' : 'text'" (keydown.enter)="onHidePassword()" required
              formControlName="confirmPassword" autocomplete="off" matInput placeholder="Enter confirm Password*">
            <button tabindex="-6" class="password-show-hide-icon" mat-icon-button matSuffix
              (click)="hideResetPassword = !hideResetPassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideResetPassword">
              <mat-icon svgIcon="{{hideResetPassword ? 'visibilityOff' : 'visibilityOn'}}"></mat-icon>
            </button>

            <mat-error *ngIf="isRequiredField(formControls['confirmPassword'])">{{validationMsg.CONFIRM_PASSWORD}}
            </mat-error>
            <mat-error *ngIf="resetPasswordForm.errors?.doesMatchPassword">
              {{validationMsg.PASSWORD_DOESNT_MATCH}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="MT-2">
          <button type="submit" [disabled]="!resetPasswordForm.valid" mat-flat-button color="primary">Reset
            Password</button>
        </div>

        <div class="text-center">
          <button (click)="onCancelClick()" mat-button type="button" matStepperPrevious>Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>
