<div class="box">
  <div class="box__header">
    <div class="row">
      <div class="col-md-9 col-sm-8 PL-0">
        <h3>Sub Domains ({{ subElementList.length }})</h3>
      </div>
    </div>
  </div>
  <div class="box__body">
    <div class="table">
      <table>
        <thead>
          <tr>
            <th width="20%">No.</th>
            <th width="60%">Sub Domains</th>
            <th width="20%">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr
            [ngClass]="{
              active: i === currentIndex
            }"
            (click)="onClickSubElement(subElement, i)"
            *ngFor="let subElement of subElementList; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ subElement.element_name }}</td>
            <td>
              <div></div>
              <div [ngClass]="{ 'green-color': subElement.status === 'Done' }">
                {{ subElement.status | checkEmpty }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="isLoadingResults" class="element-details__body loader-box">
        <div class="loader">Loading...</div>
      </div>
    </div>
  </div>
</div>
