<div class="row">
  <div class="col-md-8">
    <div class="white-form">
      <div *ngIf="!isLoading">
        <form
          [formGroup]="assessmentScopeForm"
          (ngSubmit)="onSubmitAssessmentScopeForm(assessmentScopeForm)"
        >
          <div class="row">
            <div class="col-md-7 PL-0">
              <div class="form-control">
                <span class="form-control__title">Assessment Scope*</span>
                <mat-form-field [floatLabel]="'never'" appearance="outline">
                  <input
                    formControlName="name"
                    autocomplete="off"
                    matInput
                    placeholder="Enter assessment scope"
                    type="text"
                  />
                  <mat-error *ngIf="isRequiredField(formControls['name'])">{{
                    validationMsg.ASSESSMENT_SCOPE_NAME
                  }}</mat-error>
                  <mat-error *ngIf="isValidField(formControls['name'])"
                    >{{ validationMsg.ASSESSMENT_SCOPE_VALID }}
                  </mat-error>
                  <mat-error *ngIf="isValidLength(formControls['name'])"
                    >{{ validationMsg.ASSESSMENT_SCOPE_LENGTH }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-7 PL-0">
              <div class="form-control form-control--textarea">
                <span class="form-control__title">Description</span>
                <mat-form-field [floatLabel]="'never'" appearance="outline">
                  <textarea
                    formControlName="description"
                    matInput
                    placeholder="Enter description"
                  ></textarea>
                  <mat-error *ngIf="isValidLength(formControls['description'])"
                    >{{ validationMsg.DESCRIPTION_LENGTH }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div>
            <button class="small-btn" color="primary" mat-flat-button type="submit">Save</button>
            <button
              class="ML-2 small-btn"
              (click)="onAssessmentScopeList()"
              color="secondary"
              mat-flat-button
              type="button"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>

      <div class="MT-3" *ngIf="isLoading">
        <app-form-loader></app-form-loader>
      </div>
    </div>
  </div>
</div>
