/* You can add global styles to this file, and also import other style files */

@import "assets/scss/main.scss";

// Text editor css
.NgxEditor{
    min-height: 25rem !important;
    max-height: 25rem !important;
    overflow: auto;
}

ngx-editor{
    display: block;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    
    p{
        padding: 0.3rem;
    }

    ul, ol{
        padding-left: 4rem !important;
    }
}

ngx-editor-menu{
    display: block;
    margin-top: 1rem;
}

.NgxEditor__MenuItem.NgxEditor__MenuItem--Icon{
    height: 3rem !important;
    width: 3rem !important;
}

.NgxEditor__MenuItem.NgxEditor__MenuItem--Active svg {
    fill: #3f5061;
}

.NgxEditor__MenuBar{
    background-color: transparent !important;
    margin-bottom: 1.5rem !important;
}