<div class="forgot-password-container">
  <div class="app-section">

    <div class="app-section__box">
      <div class="app-section__box__logo">
        <mat-icon svgIcon="logo"></mat-icon>
      </div>

      <p class="text-center">Forgot Password?</p>

      <form (ngSubmit)="onForgotPasswordFormSubmit(forgotPasswordForm)"
            [formGroup]="forgotPasswordForm">
        <div class="form-control">
          <span class="form-control__title">Email*</span>
          <mat-form-field [floatLabel]="'never'" appearance="outline">
            <input #initialFormField autocomplete="off" formControlName="email" matInput
                   placeholder="Enter registered email*" required type="text">

            <mat-error *ngIf="isRequiredField(formControls['email'])">{{validationMsg.EMAIL}}</mat-error>
            <mat-error *ngIf="isValidField(formControls['email'])">{{validationMsg.EMAIL_VALID}}</mat-error>
            <mat-error *ngIf="isValidLength(formControls['email'])">{{validationMsg.EMAIL_LENGTH}}</mat-error>
          </mat-form-field>
        </div>

        <div class="MT-2">
          <button [disabled]="!forgotPasswordForm.valid" color="primary" mat-flat-button type="submit">Continue</button>
        </div>

        <div class="text-center">
          <button (click)="onBackToLogin()" mat-button
                  matStepperPrevious
                  type="button">Back to login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
