<ul class="custom-tab">
  <li>
    <a [routerLink]="organisationUrl" routerLinkActive="active">
      <h3>Organisation</h3>
    </a>
  </li>
  <li>
    <a [routerLink]="usersUrl" routerLinkActive="active">
      <h3>Users</h3>
    </a>
  </li>
  <li>
    <a [routerLink]="maturitySchemaUrl" routerLinkActive="active">
      <h3>Maturity Levels Key</h3>
    </a>
  </li>
  <li>
    <a [routerLink]="assessmentTypeUrl" routerLinkActive="active">
      <h3>Assessment Type</h3>
    </a>
  </li>
  <li>
    <a [routerLink]="documentTypeUrl" routerLinkActive="active">
      <h3>Document Type</h3>
    </a>
  </li>
  <!-- <li>
    <a [routerLink]="assessmentScopeUrl" routerLinkActive="active">
      <h3>Assessment Scope</h3>
    </a>
  </li> -->
  <li>
    <a [routerLink]="partnerUrl" routerLinkActive="active">
      <h3>Partners</h3>
    </a>
  </li>
</ul>